apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "web-ui.fullname" . }}-meta
  labels:
    {{- include "web-ui.labels" . | nindent 4 }}
data:
  release.json: |-
    {{- $release := dict
      "name" .Release.Name
      "namespace" .Release.Namespace
      "revision" .Release.Revision
      "service" .Release.Service
      "chart" (dict
        "name" .Chart.Name
        "version" .Chart.Version
        "appVersion" .Chart.AppVersion
      )
      "image" (include "web-ui.image" .)
      "renderedAt" (now | date "2006-01-02T15:04:05Z07:00")
    -}}
    {{- toJson $release | nindent 4 }}

  deployed-values.json: |-
    {{- toJson .Values | nindent 4 }}

  deployed-values.yaml: |-
    {{- toYaml .Values | nindent 4 }}

